.advantages {
  margin-top: 27px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 0;
  }
}

.advantages__title {
  font-size: 36px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
  }
}

.advantages__item {
  margin-top: 20px;
  position: relative;
  flex-basis: 25%;

  &--benefit::before {
    position: absolute;
    content: url("../img/advantage-leaf@1x.png");
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 10px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--convenience::before {
    position: absolute;
    content: url("../img/advantage-powder@1x.png");
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 10px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--mode::before {
    position: absolute;
    content: url("../img/advantage-dining@1x.png");
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 10px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--result::before {
    position: absolute;
    content: url("../img/advantage-clock@1x.png");
    background-color: @green;
    width: 60px;
    height: 60px;
    top: 10px;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: @tablet-width) {
    flex-basis: 50%;
    min-height: 280px;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 25%;
  }
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @grey4;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    padding: 113px 90px 57px 0;
    max-width: 245px;
  }
}
