.catalog__list {
  list-style: none;
  margin-top: 25px;
  padding-left: 0;
}

.catalog__item {
  margin-top: 19px;
}

.catalog__link {
  width: 140px;
  height: 112px;
}

.catalog__product {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__table {
font-family: Arial;
font-size: 12px;
line-height: 16px;
color: @grey4;
}

.catalog__title {
  font-size: 16px;
  text-transform: uppercase;
  color: @black2;
}

.catalog__title-description {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  color: @grey4;
}

.catalog__more-button {
  background-color: @basic-grey;
  color: @grey4;

  &:focus,
  &:hover {
    background-color: @grey1;
  }

  &:active {
    color: fade(@grey4, 30%);
  }
}
