.example {
  padding-top: 20px;
  background-color: @grey6;
}

.example__title {
  font-size: 36px;
}

.example-description {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: @grey4;
}

.example__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.example__item {
  margin-top: 25px;
}

.example__number {
  font-size: 24px;
  font-family: "Oswald";
  text-transform: uppercase;
}

.example__description {
  font-family: "Arial";
  font-size: 12px;
  line-height: 1;
  color: @grey4;
}

.example__price {
  font-family: "Oswald";
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__slider {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}
