.extra-catalog__wrapper {
  padding-top: 25px;
}

.extra-catalog__title {
  font-size: 24px;
}

.extra-catalog__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.extra-catalog__product {
  font-size: 16px;
  text-transform: uppercase;
  color: @black3;
}

.extra-catalog__table {
  color: @grey4;
  font-family: Arial;
  font-size: 14px;
}

.extra-catalog__order-button {
  padding: 7px 44px;
}

.promotion__wrapper {
  color: @white;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  width: 280px;
  height: 289px;
  background-repeat: no-repeat;
  font-family: Arial;
  font-size: 16px;
  margin: 57px auto 0;
}

.promotion__img {
  margin-top: 58px;
}

.promotion__description {
  margin-top: 48px;
}
