.form__fieldset {
  border: none;
  margin-top: 48px;
}

.form__list {
  list-style: none;
  margin: 39px auto 0;
}

.form__item {
  margin-top: 14px;
  font-size: 16px;
  color: @grey4;
  text-transform: uppercase;
}

.form__input-text {
  text-transform: uppercase;
}

.form__label-radio {
  color: @black3;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
}

.form__label-check {
  color: @black;
}

.form__button {
  border: none;
}

.form__advice {
  font-family: Arial;
  font-size: 14px;
}
