.options {
  margin-top: 9px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 105px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px;
  }
}

.options__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.options__item {
  background-color: @basic-grey;
  margin: 10px 0;
  padding-top: 10px;
  position: relative;
  padding-bottom: 5px;

  &:nth-of-type(n+1) {
    margin-top: 12px;

    @media (min-width: @tablet-width) {
      margin-top: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 53px;
    min-height: 357px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    margin-left: 0;
    padding-right: 0;
    max-width: 570px;
    box-sizing: border-box;
  }

  &::before {
    position: absolute;
    background-color: @green;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    left: 22px;
    top: 24px;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 200px;
      left: 447px;
      top: 92px;
      text-align: right;
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 100px;
      left: 52px;
      top: 45px;
    }
  }

  &--slim::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-cat-slim.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 36px;
    height: 50px;
    left: 29px;
    top: 21px;

    @media (min-width: @tablet-width) {
      width: 140px;
      height: 192px;
      left: 476px;
      top: 81px;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      height: 97px;
      left: 67px;
      top: 40px;
    }
  }

  &--pro::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-cat-pro.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 67px;
    height: 28px;
    left: 13px;
    top: 34px;

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 112px;
      left: 412px;
      top: 135px;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 56px;
      left: 34px;
      top: 66px;
    }
  }
}

.options__subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 91px;
  text-align: left;
  margin: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    font-weight: normal;
    font-size: 36px;
    padding: 58px 0 16px;
  }

  @media (min-width: @desktop-width) {
    padding: 57px 40px 0 162px;
  }
}

.options__description {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: @grey4;
  text-align: left;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid @grey9;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0 225px 0 0;
    max-width: 377px;
    border: none;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-right: 52px;
    padding-top: 65px;
    max-width: 777px;
  }
}

.options__description br {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.options__button {
  font-size: 16px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: @black;
  background-color: @basic-grey;
  position: relative;
  text-align: left;
  margin-left: 4px;
  margin-top: 5px;
  display: table;

  @media (min-width: @tablet-width) {
    font-weight: normal;
    font-size: 20px;
    padding-left: 0;
    margin-top: 41px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 15px;
  }

  &::after {
    position: absolute;
    content: url("../img/icon-right-arrow-long.svg");
    width: 24px;
    height: 10px;
    top: 13px;
    left: 100%;
    display: block;

    @media (min-width: @tablet-width) {
      top: 12px;
      left: 132px;
    }
  }
}

.options__button:focus,
.options__button:hover {
  background-color: @basic-grey;

  &::after {
    content: url("../img/icon-right-arrow-verylong.svg");
    width: 32px;
  }
}

.options__button:active {
  color: fade(@black, 30%);
  background-color: @basic-grey;
  opacity: 0.3;

  &::after {
    opacity: 0.3;
  }
}
