.form__input-text {
  text-transform: uppercase;
}

.form__label-radio {
  color: @black3;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
}

.form__label-check {
  color: @black;
}

.form__button {
  border: none;
}

.form__advice {
  font-family: Arial;
  font-size: 14px;
}
