.form__fieldset {
  border: none;
  margin-top: 48px;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__list-contacts {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.form__list-more {
  width: 280px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 565px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.form__fieldset-aim {
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    border: 1px solid @grey7;
  }
}

.form__fieldset-wrapper1 {
  display: grid;

  @media (min-width: @desktop-width) {
    grid-template-rows: 190px 55px;
    grid-template-columns: 1fr 1fr;
    gap-column: 80px;
  }
}

.form__fieldset-wrapper2 {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.form__item {
  margin-top: 14px;
  font-size: 16px;
  line-height: 18px;
  color: @grey4;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__item-more {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 221px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
  }
}

.form__advice {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: @black;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }
}

.label-text--tel {
  @media (min-width: @desktop-width) {
    margin-left: 60px;
  }
}

.input-text {
  text-transform: uppercase;
  flex-grow: 1;
  margin-left: 20px;
  border: 1px solid @grey7;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-color: @grey2;
  }

  &:active {
    border: 2px solid @grey4;
  }
}

.input-text--textarea {
  width: 100%;
  margin-left: 0;
}

.form__button {
  @media (min-width: @desktop-width) {
    min-width: 568px;
  }
}

.inscription {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
